<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>todo</title>
</head>
<body>

<div class="container">
    <br />
    <h3>These are list of my django apps</h3>
    <br />
    <br />
    <ul>
        <li><p><a href="{% url 'polls:index' %}"><b>Polls</b></a></p></li>
        <li><p><a href="{% url 'todo:todo_index' %}"><b>To-Do</b></a></p></li>
    </ul>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>
</html>