<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Home</title>
</head>
<body>

<div class="container" align="center">
    <br />
    <h3>These are list of my django apps</h3>
    <br />
    <br />
    <p><a href="{% url 'polls:index' %}"><b>1. Polls</b></a></p>
    <p><a href="{% url 'todo:todo_index' %}"><b>2. To-Do</b></a></p>
    <p><a href="{% url 'blog:blog_index' %}"><b>3. Blogs</b></a></p>
    <p><a href="{% url 'login:login_index' %}"><b>4. Login</b></a></p>
    <p><a href="{% url 'chat:chat_index' %}"><b>5. Chat</b></a></p>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>
</html>